.Contacto{
    width: 1000px;
    max-width: 90%;
    margin: 0px auto;
    position: inherit;
    height: auto;
    padding: 20px;
}
.Contacto h1{
    width: 50%;
    padding: 10px;
}
.ContenedorF{
    width: 50%;
    float: left;
    border-radius: 5px;
    background-color: dodgerblue;
    padding: 20px;
    clear: both;
    font-size: 30px;
    color: white;

}

.row:after{
    content:"";
    display: table;
    clear: both;
}



.ContenedorF input[type=text],[type=email], select, textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.ContenedorF label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

#mapa iframe{
    padding: 50px;
    width: 100%;
}
.ContenedorF input[type=submit] {
    width: 100%;
    font-size: 30px;
    background-color: white;
    color: dodgerblue;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.ContactoN{
    width: 45%;
    float: right;
    padding: 10px;
}

.Contacto table{
    width: 100%;
}

.ContactoN tr,tr a{
    cursor: pointer;
    list-style: none;
    color: dodgerblue;
    font-size: 25px;
    text-decoration: none;
    width: 100%;
}

.ContactoN tr a:hover{
    text-decoration: none;
    background: dodgerblue;
    color: white;
    border-radius: 5px;
}
.ContactoN tr:hover{
    text-decoration: none;
    background: dodgerblue;
    color: white;
}

.ContactoN td,td{
    border-bottom: 1px solid #ddd;
}

@media (max-width: 630px){
    .ContactoN {
        float: none;
        align-content: center;
    }
    .ContactoF{
        float: none;
        align-content: center;
    }
    
}