#Formulario {
	display: flex;
	width: 30%;
	margin-top: 80px; /*Medida del alto del header*/
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	padding: 10px;
	border: 5px solid dodgerblue;
	background-color: dodgerblue;
	color: white;
}
#Formulario input, #Formulario select { 
	height: 40px; 
	border-radius: 0px; 
	font-size: 15px;
	border-style: none;

}
#Formulario select { border: 2px solid white; }
#Formulario p {
	display: inline-flex;
	padding-top: 5px;
	width: 100%;
	
}
#datosPaciente {justify-content: space-between;}
#datosPaciente input {width: 100%;}

#areaConsulta, #medicosDeArea {flex-direction: column;}
#areaConsulta select, #medicosDeArea select {width: 100%;}

#fecha {flex-wrap: wrap; width: 16.6%;}
#fecha label {width: 100%;}
#fecha select {width: 20%; margin-right: 5px;}

#horaConsulta select, #costoCita input {width: 25%;}

#boton {justify-content: flex-end;}
#boton input {padding: 3px;}

#horaConsulta label {width: 100%;}
#horaConsulta {flex-wrap: wrap;}

#errorFecha {margin-left: 3px; /*padding-top: 2%;*/}
