
.wrap{
    width: 960px;
    max-width: 90%;
    margin: 0px auto;
    position: inherit;
    height: auto;
}

ul.tabs{
    width: 100%;
    padding: 15px;
    background: #fff;
    list-style: none;
    display: flex;
    float: left;
    border-bottom: 5px solid dodgerblue;
    border-left: 5px solid dodgerblue;
    top:60px;
    position: sticky;
}

ul.tabs li{
    width: 160px;
}
ul.tabs li a{
    color:dodgerblue;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 0px;
    border-left: 5px solid #fff;
    float: left;
    
}

.active{
    background: rgba(30, 144, 255,0.1);
    width: 100%;
}

.secciones{
    padding-top: 50px;
    width: 100%;
    background: white;
}

.secciones article{
    padding: 20px;
}

.secciones article p{
    text-align: justify;
    font-size: 18px;
}
.secciones article h1{
    font-size: 30px;
    padding: 5px;
    text-align: justify;
    color: whitesmoke;
    text-shadow: 3px 1px dodgerblue;
    position: static;
}

.secciones article h2{
    padding: 10px;
    text-align: justify;
    color: dodgerblue;
}

.secciones article h3{
    padding: 5px;
    text-align: justify;
    color: dodgerblue;
}

.secciones article li{
    list-style-type: circle;
    color: black;
}

.personal table{
    width: 100%;
    color: dodgerblue;
    font-size: 28px;
}

.personal th{
    color: white;
    background: dodgerblue;
}

.personal td{
    color: dodgerblue;
    text-decoration: none;
}


.slider{
    width: 700px;
    height: 510px;
    border-style: double;
    border-color: dodgerblue;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.slider ul{
    width: 400%;
    height: 450px;
    display: flex;
    list-style: none;
    order: 1;
}

input[type="radio"]{
    display: none;
}

input[type="radio"]+label{
    display: block;
    width: 25%;
    height: 60px;
    border-left: 1px solid white;
    cursor: pointer;
    order: 2;
}

#sboton1 + label{
    background: url(../Imagenes/Nosotros/Instalaciones/Instalaciones.jpg);
    background-size: 100% 100%;
}

#sboton2 + label{
    background: url(../Imagenes/Nosotros/Instalaciones/Salas.jpg);
    background-size: 100% 100%;
}

#sboton3 + label{
    background: url(../Imagenes/Nosotros/Instalaciones/Quirofano.jpg);
    background-size: 100% 100%;
}

#sboton4 + label{
    background: url(../Imagenes/Nosotros/Instalaciones/Ofta.jpg);
    background-size: 100% 100%;
}

#sboton1:checked ~ ul{
    margin-left: 0;
}

#sboton2:checked ~ ul{
    margin-left: -100%;
}

#sboton3:checked ~ ul{
    margin-left: -200%;
}

#sboton4:checked ~ ul{
    margin-left: -300%;
}